@page
@model Web.Pages.User.UserModelIndex
@{
	Layout = "_Layout";
}
@section Styles {
	<link rel="stylesheet" href="../css/user.css"/>
}

<a href="/Logout" class="logout-button">Logout</a>

<h1>Welcome, @Model.UserName</h1>

@await Html.PartialAsync("_EventsTable", Model.Events)
